<%  title = t "home.title"
    provide(:title, title) 
%>
<h1><%= t "home.main_title"%></h1>
<p>
  <%= t "home.bf_title_link"%>
  <%= link_to ( t "home.title_link"), "https://www.railstutorial.org/"  %>
  <%= t "home.af_title_link"%>
</p>
  