<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("header.link_root"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header.link_home"), root_path %></li>
        <li><%= link_to t("header.link_help"), help_path %></li>
        <li><%= link_to t("header.link_login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
